 
        .x{
            color: rgb(240, 100%, 50%);
            font-size: 40px;
        }
        .y{
            color: rgba(128, 255, 196, 0.715);
            font-size: 40px;
        }
   
   